// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-about{
	width:100%;
	.title_box{
		width:100%;
		text-align:center;
	}
	.title{
		display:inline-block;
		margin: 0 auto;
	}
	.lyrics{
		width:100%;
	}
	.lyrics_content{
		position:relative;
		left:40%;
		display:inline-block;
	}
	
	.navbar a {
	  color: black;
	}
	.navbar a:hover {
	  color: #14DCC3;
	}

	.botton_link{
		color:black;
	}
	.footer{
	position: relative;
	}
}

